#for loop, while loop

For Loop

In [1]:
my_list = [10,20,30,40,50,60,70]
my_list[0] / 5 * 2

4.0

In [2]:
my_list[1] / 5 * 2

8.0

In [4]:
for number in my_list:
    print(number / 5 * 2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [5]:
for x in my_list:
    new_number = x / 5 * 2
    print(new_number)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [6]:
print("for loop started")
for x in my_list:
    new_number = x / 5 * 2
    print(new_number)
print("for loop ended")

for loop started
4.0
8.0
12.0
16.0
20.0
24.0
28.0
for loop ended

In [12]:
list = [10,20,30,40,50,60,70]
for x in list:
    if x % 6 == 0:
        print(x)

30
60

In [14]:
list = [10,20,30,40,50,60,70]
for x in list:
    if x % 2 == 0:
        print(x/2)

5.0
10.0
15.0
20.0
25.0
30.0
35.0

In [15]:
my_string = "python"
for c in my_string:
    print(c)

p
y
t
h
o
n

In [16]:
my_tuple = (10,20,30,40,50,60,70)
for num in my_tuple:
    print(num / 5 * 2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [17]:
my_tuple

(10, 20, 30, 40, 50, 60, 70)

In [19]:
my_new_list = [("a","b"),("c","d"),("e","f"),("g","h")]
len(my_new_list)

4

In [20]:
my_new_list[0]

('a', 'b')

In [21]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [ ]:
#tuple unpacking

In [22]:
my_new_list[0][1]

'b'

In [23]:
for (x,y) in my_new_list:
    print(y)

b
d
f
h

In [25]:
my_tuple_list = [(0,1,2),(3,4,5),(6,7,8),(9,10,11)]
len(my_tuple_list)

4

In [26]:
for (x,y,z) in my_tuple_list:
    print(x)

0
3
6
9

In [27]:
my_set = {1,2,3,4,5}
my_set

{1, 2, 3, 4, 5}

In [28]:
len(my_set)

5

In [29]:
type(my_set)

set

In [30]:
for num in my_set:
    print(num)

1
2
3
4
5

In [32]:
my_dictionary = {"k1":100,"k2":200,"k3":300}
for element in my_dictionary:
    print(element)

k1
k2
k3

In [34]:
my_dictionary.keys()

dict_keys(['k1', 'k2', 'k3'])

In [35]:
my_dictionary.values()

dict_values([100, 200, 300])

In [36]:
my_dictionary.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [39]:
help(my_dictionary.fromkeys)

Help on built-in function fromkeys:

fromkeys(iterable, value=None, /) class method of builtins.dict
    Create a new dictionary with keys from iterable and values set to value.

In [40]:
my_dictionary.fromkeys

In [44]:
for (key,value) in my_dictionary.items():
    print(key, value)

k1 100
k2 200
k3 300

In [48]:
for num in my_dictionary.values():
    print(num)

100
200
300

#continue - break - pass

In [1]:
my_list = [10,20,30,40,50,60,70]
print("for loop started")
for number in my_list:
    print(number)
print("for loop ended")

for loop started
10
20
30
40
50
60
70
for loop ended

In [2]:
40 in my_list

True

In [4]:
for number in my_list:
    print(number)
    if number == 40:
        print("yes")

10
20
30
40
yes
50
60
70

In [7]:
for number in my_list:
    print(number)
    if number == 40:
        print("yes")
        break

10
20
30
40
yes

In [8]:
for number in my_list:
    print(number)
    if number == 40:
        print("yes")
        continue

10
20
30
40
yes
50
60
70

In [13]:
for number in my_list:
    if number == 40:
        print("yes")
        continue
    print(number)

10
20
30
yes
50
60
70

In [17]:
for number in my_list:
    pass

while

In [23]:
help("while")

The "while" statement
*********************

The "while" statement is used for repeated execution as long as an
expression is true:

   while_stmt ::= "while" assignment_expression ":" suite
                  ["else" ":" suite]

This repeatedly tests the expression and, if it is true, executes the
first suite; if the expression is false (which may be the first time
it is tested) the suite of the "else" clause, if present, is executed
and the loop terminates.

A "break" statement executed in the first suite terminates the loop
without executing the "else" clauseâ€™s suite.  A "continue" statement
executed in the first suite skips the rest of the suite and goes back
to testing the expression.

Related help topics: break, continue, if, TRUTHVALUE

In [30]:
x = 0
print("While loop started")
while x < 10:
    print(x)
    x = x + 1
print("While loop ended")

While loop started
0
1
2
3
4
5
6
7
8
9
While loop ended

In [69]:
last_list = [10,20,30,40,50]
while 20 in last_list:
    print("20 in last_list")
    last_list.remove(20)

20 in last_list

In [70]:
last_list = [10,20,30,40,50]
while 20 in last_list:
    print("20 in last_list")
    last_list.pop()

20 in last_list
20 in last_list
20 in last_list
20 in last_list

In [75]:
my_list = [10,20,30]
my_list

[10, 20, 30]

In [76]:
print(my_list)

[10, 20, 30]

In [77]:
print(f"My list: {my_list}")

My list: [10, 20, 30]

In [90]:
name = input("enter name: ")
str(name)

'python'

In [94]:
print(f"Welcome {name}")

Welcome python

In [97]:
p=0
while p < 10:
    print(f"value of p: {p}")
    p += 1

value of p: 0
value of p: 1
value of p: 2
value of p: 3
value of p: 4
value of p: 5
value of p: 6
value of p: 7
value of p: 8
value of p: 9