In [ ]:
my_list = [10,20,30,40,50,60,70]

In [ ]:
for number in my_list:
print(number/2)

range

In [1]:
range(50)

range(0, 50)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
for number in list(range(10)):
    print(number * 2)

0
2
4
6
8
10
12
14
16
18

In [5]:
list(range(5,15))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [6]:
list(range(5,15,2))

[5, 7, 9, 11, 13]

In [10]:
my_list = [20,30,40,50,60]
for num in my_list:
    print(num)

20
30
40
50
60

In [11]:
for ix in range(len(my_list)):
    print(ix)

0
1
2
3
4