#method and function

In [1]:
my_name = "python"
my_name.upper()

'PYTHON'

In [2]:
my_name_upper = my_name.upper()
my_name_upper

'PYTHON'

In [3]:
my_name

'python'

In [6]:
help(my_name.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [ ]:
#functions def->define

In [8]:
def hello_python():
    print("hello")
    print("python")

In [9]:
hello_python

In [10]:
hello_python()

hello
python

In [ ]:
#input

In [14]:
def hello_name(name):
    print("hello")
    print(name)

In [15]:
hello_name()

TypeError: hello_name() missing 1 required positional argument: 'name'

In [16]:
hello_name("PYTHON")

hello
PYTHON

In [17]:
def sum_example(num1, num2):
    print(num1+num2)

sum_example(5, 10)

15

In [21]:
def sum_example(num1, num2):
    num3 = num1 + num2
    print(num3)

sum_example(20, 12)

32

In [ ]:
hello_name("required")