
# 1) Aşağıdaki String'in 5. harfini my_letter isimli bir değişkene atayınız.
my_string = "James Hetfield"

In [3]:
my_string = "James Hetfield"
my_letter = my_string[4] 
my_letter

's'

# 2) Aşağıdaki String'in 5. ve 8. karakteri arasındaki tüm harflerini yazdırınız (5 ve 8 dahil)
my_new_string = "QuentinTarantino"

In [38]:
my_new_string = "Quentin Tarantino"
my_new_string[4:8:]

'tin '

# 3) Aşağıdaki String'i kod ile tersten yazın
my_last_string = "Afyonkarahisarlılaştıramadıklarımızdanmısınız"

In [39]:
my_last_string = "Afyonkarahisarlılaştıramadıklarımızdanmısınız"
my_last_string[len(my_last_string)::-1] #my_last_string[::-1]

'zınısımnadzımıralkıdamarıtşalılrasiharaknoyfA'

# 4) Aşağıdaki işlemin sonucu hangi veri tipinde olacaktır?
3 + 10.2 + 50

In [19]:
x = 3 + 10.2 + 50
type(x)

float

# 5) Aşağıdaki işlemin sonucu kaçtır?
5 + 8 * 12

In [21]:
5 + 8*12

101

# 6) Bu listeyi 2 farklı yoldan oluşturunuz: [1,2,"a"]

In [23]:
# Cevap a)
list1 = [1,2,"a"]
list1

[1, 2, 'a']

In [43]:
# Cevap b)
list2 = []
list2.append(1)
list2.append(2)
list2.append("a")
list2

[1, 2, 'a']

# 7) Aşağıdaki "a"'yı tek satırda alınız:
my_list = [1,4,[2,3,"a"]]

In [44]:
my_list = [1,4,[2,3,"a"]]
my_list[2][2]

'a'

# 8) Aşağıdaki "b"'yi tek satırda alınız:
my_dictionary = {"k1":2, "kk":[4,{"kkkk":"b"}]}

In [46]:
my_dictionary = {"k1":2, "kk":[4,{"kkkk":"b"}]}
my_dictionary["kk"][1]["kkkk"]

'b'

# 9) Aşağıdaki liste set'e çevirilince hangi değerler içinde kalacaktır?
my_list_to_be_set = [11,12,22,33,11,22,45,32,21,22,33,45]

In [35]:
my_list_to_be_set = [11,12,22,33,11,22,45,32,21,22,33,45]
set(my_list_to_be_set)

{11, 12, 21, 22, 32, 33, 45}

# 10) Aşağıdaki ifadenin sonucu ne olacaktır?
x = 40 * 5 + 3

y = 208 - 2 * 4

x > y

In [36]:
x = 40 * 5 + 3
y = 208 - 2 * 4
x > y

True

# 11) Aşağıdaki ifadenin sonucu ne olacaktır?
a = 40 * (4 - 2)

b = 80 - 2 * -5

a > b

In [37]:
a = 40 * (4 - 2)
b = 80 - 2 * -5
a>b

False