In [11]:
x = 5
y = 2
x > y

True

In [12]:
y = 5
x>=y

True

In [13]:
x<=y

True

In [14]:
#x >= 5.0000000000000001 #True

In [15]:
x >= 5.0000000001

False

In [16]:
x == y

True

In [17]:
2 > 1 and 3 > 2

True

In [18]:
2 > 1 and 3< 2

False

In [19]:
False and False

False

In [20]:
2 > 1 or 3 < 2

True

In [21]:
not 1 == 1

False

In [22]:
10 in [10, 20, 30]

True

In [23]:
5 in [10, 20, 30]

False

In [24]:
my_dictionary = {"a":10, "b":20, "c":30}
10 in my_dictionary.values()

True

In [25]:
my_dictionary = {"a":10, "b":20, "c":30}
"b" in my_dictionary.keys()

True

In [26]:
10 in {10,20,30}

True

In [27]:
my_superhero = "Batman"
my_superhero == "Batman"

True

In [28]:
my_superhero == "Superman"

False

In [29]:
if my_superhero == "Batman":
    #indentation
    print("1-Batman")
    print("2-Superman")

1-Batman
2-Superman

--------------

In [30]:
superHero1 = "Superman"

In [31]:
if superHero1 == "Aquaman":
    #indentation
    print("1-Batman")
    print("2-Superman")
##################-o-½¾-o-##################
print("Hello world")

Hello world

In [32]:
if 3 > 4:
    print("hello world")
    print("python")

In [33]:
my_superhero = input("enter superhero:")
my_superhero

'wonder woman'

In [34]:
if my_superhero == "Superman":
    print("superman")
elif my_superhero == "Batman":
    print("batman")
elif my_superhero == "Aquaman":
    print("aquaman")
elif my_superhero == "Ironman":
    print("ironman")
else:
    print(":(")

:(

In [37]:
my_age = 100

In [52]:
my_age = 67
if my_age <= 18:
    print("age < 18")
elif my_age > 18 and my_age <= 30:
    print("18 - age - 30")
elif my_age > 30 and my_age <= 40:
    print("30 - age - 40")
elif my_age > 40 and my_age <= 65:
    print("40 - age - 65")
else:
    print("age > 65")

age > 65

In [54]:
my_superhero = "Batman"
my_superhero_list = ["Spiderman","Batman","Iron Man","Thor","Black Widow"]
if my_superhero in my_superhero_list:
    print(":)")
else:
    print(":(")

:)